body{
  background: aquamarine;
  min-height: 100vh;
}

.logo {
  width: auto;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: darkcyan;
}