nav{
  text-align: center;
  margin: 2%;
}

button {
  padding: 10px;
}

.album {
  display: block;
  width: 30px;
  height:30px;
  
body{
  min-height: 100vh;
}

.logo {
  width: auto;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

